################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/webapp/.vs/webapp
/webapp/.vs/ProjectEvaluation
/webapp.Server/obj/debug/net8.0
*~
*.swp
