################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/webapp/.vs/webapp
/webapp/.vs/ProjectEvaluation
/webapp.Server/obj/debug/net8.0
*~
*.swp
/webapp/webapp.Server/obj/Debug/net8.0/webapp.Server.AssemblyInfo.cs
/webapp/webapp.Server/obj/Debug/net8.0/webapp.Server.AssemblyInfoInputs.cache
/webapp/webapp.Server/obj/Debug/net8.0/webapp.Server.assets.cache
/webapp/webapp.Server/obj/Debug/net8.0/webapp.Server.GeneratedMSBuildEditorConfig.editorconfig
/webapp/webapp.Server/bin/Debug/net8.0/cs
